<%# EJS template for welcome page %>

<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="login-page">

  <div class="form">
  
    <h1>Welcome, USERNAME, back to the site</h1>
  
  </div>

</div>
