<%# EJS template for welcome page %>

<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="login-page">

  <div class="form">

  <%# The request.cookie will have a property for every named
      cookie that has been set. %>
  
    <h1>Welcome, <%= username %>, back to the site</h1>
    
    <p><a href="/logout">Logout</a></p>
  </div>

</div>
