<%# EJS template for welcome page %>

<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="login-page">

  <div class="form">
    
    <p><a href="/logout">Log out</a></p>

  </div>    <%# END div.form %>

</div>  <%# END div.login-page %>
