<!-- EJS index template file -->
<ul>
    <% for (let i = 0; i < 10; i++)   {%>
        <li>Test</li>
    <% } %>
</ul>

<!-- This is also valid in  EJS -->

<ul>
    <script>

        for (let i = 0; i < 10; i++)  {
            document.write('<li>Test 2</li>');
        }

    </script>
</ul>
